<div class="bg-content">
      <div class="container">
    <div class="row">
          <div class="span12"> 

        <!--============================== slider =================================-->
        <h2 id="dheeraj" class="text-center"> CEO Pets!</h2><hr>
        <div class="flexslider">
              <ul class="slides">
            <li> <img src="/assets/dheeraj/1.jpg" alt="" > </li>
            <li> <img src="/assets/dheeraj/2.jpg" alt="" > </li>
            <li> <img src="/assets/dheeraj/3.jpg" alt="" > </li>
            <li> <img src="/assets/dheeraj/4.jpg" alt="" > </li>
            <li> <img src="/assets/dheeraj/5.jpg" alt="" > </li>
          </ul>
            </div>
        <span id="responsiveFlag"></span>
        <div class="block-slogan">
              <h2 id="dheeraj">Dheeraj Sharma - Founder!</h2>
              <div>
            <p><a href="http://www.oswt.co.uk" target="_blank" class="link-1">Click here</a> for more info about this free website template created by TemplateMonster.com. This is a Bootstrap template that goes with several layout options (for desktop, tablet, smartphone landscape and portrait) to fit all popular screen resolutions. The PSD source files of this template are available for free for the registered members of TemplateMonster.com. Feel free to get them!</p>
          </div>
            </div>
      </div>
        </div>
  </div>
      
      <!--============================== content =================================-->
      
      <div id="content" class="content-extra"><div class="ic"></div>
    <div class="row-1">
          <div class="container">
        <div class="row">
              <ul class="thumbnails thumbnails-1">
            <li class="span3">
                  <div class="thumbnail thumbnail-1">
                <h3 id="harish">Harish Nomula</h3>
                <img  src="/assets/dheeraj/1.jpg" alt="">
                <section> <strong>Software Architect </strong><hr>
                      <p>Odio dignissimos ducimus qui blanditiis praesentium voluptatum.</p>
                       <a href="http://loverboy.herokuapp.com" class="btn btn-1">Explore More</a> </section>
                      </section>
              </div>
                </li>
            <li class="span3">
                  <div class="thumbnail thumbnail-1">
                <h3 id="#sai">Sai Kiran Sharma</h3>
                <img  src="img/page1-img2.jpg" alt="">
                <section> <strong>Sr.Ruby on Rails Engineer</strong><hr>
                      <p>He is a RAILS HACKER.His main motto is one beer can change your life.</p>
                      <a href="http://saikiranmothe.herokuapp.com" class="btn btn-1">Explore More</a> </section>
              </div>
                </li>
            <li class="span3">
                  <div class="thumbnail thumbnail-1">
                <h3 id="vasista">Vasista Sharma Gattu </h3>
                <img  src="img/page1-img3.jpg" alt="">
                <section> <strong>Similique sunt in culpa qui officia </strong>
                      <p>Deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                      <a href="#" class="btn btn-1">Read More</a> </section>
              </div>
                </li>
            <li class="span3">
                  <div class="thumbnail thumbnail-1">
                <h3 class="title-1 extra" id="loading">You Wanna See Your Pic Here</h3>
                <img  src="img/page1-img4.jpg" alt="">
                <section> <strong><h2>Jion Our Team</h2></strong><hr>

                      <p>Deserunt mollitia animi, id est laborum et dolorum fuga.</p>
                      <a href="#" class="btn btn-1">Read More</a> </section>
              </div>
                </li>
          </ul>
            </div>
      </div>
        </div>

  </div>
    </div>